body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 550px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    position: relative;
    z-index: 100;
    box-shadow: 0px 2px 8px 0px grey;
}

main{
    background-color: white;
    height: 550px;
    margin-top: 2em;
}

header select,
header input,
header button{
    height: 42px;
    border: 1px solid lightgray;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header input{
    background-color: #E5E5E5;
}

header select{
    border-radius: 6px;
    width: 312px;
}

header button{
    border-radius: 4px;
}

header button:hover,
header button:focus{
    cursor: pointer;
}
/* header button:   do something while clicked */

.colors{
    height: 414px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.color-labels{
    height: 46px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}
